* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
html {
  background-color: rgb(35, 50, 50);
}

#canvas1 {
  border: 5px solid rgb(35, 50, 50);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  font-family: "DM Serif Display", serif;
}

img {
  display: none;
}
